# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.android/
.gradle/
.dart_tool/
.git_disabled/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.DS_Store
android/local.properties
android/.cxx/
android/app/debug.keystore
android/adbkey
android/adbkey.pub
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock
*.keystore
*.img
*.ini
.env 
.env.example
